/* App.css */
.App {
  text-align: center;
}

.App-header {
  position: relative;
  height: 480px;
  width: 640px;
  margin: auto;
}

.App-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.App-loading,
.App-error {
  margin-top: 20px;
  font-size: 24px;
  color: red;
}

.App-footer {
  margin-top: 20px;
}

input[type="number"] {
  margin-left: 10px;
}
